* {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
}

:root {
    --rustBrown: #854b3c;
    --rockLight: #a8927f;
    --cloudWhite: #f2f4f1;
    --coalBlack: #1b222f;
    --cloudBlue: #a6adbd;
    --iceyWaters: #4e5460;
}

html {
    background-color: var(--cloudWhite);
}

nav {
    background-color: var(--rustBrown);
    
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.name-link {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 15px 50px;
    color: var(--cloudWhite);
    padding: 0;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-right: 50px;
    padding: 0;
}

li a {
    text-decoration: none;
    padding: 25px 20px;
    color: var(--cloudWhite);
    transition: background-color 0.3s;
}

li a:hover {
    background-color: var(--rockLight);
    transition: background-color 0.3s;
}

.hero-image {
    background-image: url("../images/theMountain.jpg");
    height: 500px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0px 10px 15px -8px var(--coalBlack);
}

.hero-text {
    position: absolute;
    top: 10%;
    right: 6%;
}

h1,
h2,
h3,
h4 {
    color: var(--coalBlack);
    text-align: right;
    font-family: 'Kanit', sans-serif;
}

h3,
h4,
p {
    text-align: left;
}

h1 {
    
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0;
    text-shadow: 3px 3px var(--cloudWhite);
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    margin: 15px 0;
    text-shadow: 2px 2px var(--cloudWhite);
}

.copywrite-text {
    color: var(--cloudWhite);
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: .8rem;
}

section {
    padding: 50px 70px;
}

h3 {
    font-size: 2.5rem;
    font-weight: 400;
    border-bottom: solid 3px var(--rustBrown);
    border-left: solid 10px var(--rustBrown);
    padding-bottom: 10px;
    padding-left: 30px;
    margin: 30px 0;
}

p {
    margin: 0;
    line-height: 1.8;
}

.flex-lists {
    display: flex;
    justify-content: space-evenly;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.proficient-list li {
    margin: 15px 0;
    font-size: 1rem;
}

#projects {
    background-color: var(--cloudBlue);
}

#projects h3 {
    border-bottom: solid 3px var(--iceyWaters);
    border-left: solid 10px var(--iceyWaters);
    margin-bottom: 50px;
}

#projects h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

.project-card {
    display: flex;
    margin-bottom: 70px;
}

.project-image-btns {
    flex: 0 1 60%;
}

img {
    width: 100%;
}

.project-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-left, 
.btn-right {
    flex: 1 1 50%;
    text-align: center;
    background-color: var(--iceyWaters);
    padding: 10px 0;
    color: var(--cloudWhite);
    text-decoration: none;
}

.btn-left {
    border-radius: 8px 0 0 8px;
    border-right: solid 3px var(--coalBlack);
}

.btn-right {
    border-radius: 0 8px 8px 0;
}

.btn-left:hover,
.btn-right:hover {
    background-color: var(--coalBlack);
}

.project-text-info {
    flex: 1 1 100%;
    padding-left: 50px;
}

#contact {
    padding: 0 0 40px 0;
    background-color: var(--iceyWaters);
}

.copywrite-text-bottom {
    color: var(--cloudBlue);
    font-size: .8rem;
    margin-left: 5px;
}

.contact-flex {
    display: flex;
    justify-content: space-evenly;
}

.direct-contact,
.contact-links {
    flex: 0 0 30%;
}

.contact-links,
.contact-links h4 {
    text-align: right;
}

.direct-contact h4,
.direct-contact p,
.contact-links h4 {
    color: var(--cloudWhite);
    margin-bottom: 10px;
}

.contact-links-list {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.contact-links-list li a {
    padding: 0;
}

.contact-links-list li {
    margin: 15px 0;
}

/* --------------------------------------------------------------- */

/* Media Queries */
@media screen and (max-width: 720px) {
    .flex-container {
        display: block;
        text-align: center;
    }

    .nav-links {
        justify-content: center;
        margin: 0;
        padding: 10px 0;
    }

    .name-link {
        margin: 15px 0;
    }

    li a {
        padding: 10px;
    }

    section {
        padding: 20px;
    }

    .flex-lists {
        display: block;
    }

    .project-card {
        display: block;
    }

    .project-text-info {
        padding: 0;
        margin-top: 20px;
    }

    .contact-flex {
        display: block;
        padding: 20px;
        text-align: left;
    }

    .contact-links,
    .contact-links h4 {
        text-align: left;
    }
}