/* Styling for the portfolio page after reset */
/* -------------------------------------------------------------------------------- */
* {
    font-family: Helvetica, Arial, sans-serif;
}

main {
    background-color: var(--lightGrey);
}

/* -------------------------------------------------------------------------------- */
/* Variables */
:root {
    --darkPurple: #1c1729;
    --orange: #e78b49;
    --bodyBrown: #682c21;
    --lightGrey: #ccc7cc;
    --rightSpacing: 5%;
    --colAlign: 80%;
}

/* -------------------------------------------------------------------------------- */
/* Base Element Styling, h's, p, ul, li */
h1 {
    font-size: 2.5rem;
    background-color: var(--orange);
    color: var(--darkPurple);
    padding: 5px 15px 5px 50px;
    border-bottom-right-radius: 25px;
    font-weight: 600;
}
h2 {
    display: inline-block;
    position: absolute;
    font-size: 1.5rem;
    background-color: var(--orange);
    color: var(--darkPurple);
    padding: 5px;
    right: var(--rightSpacing);
    bottom: 20px;
}
h3 {
    font-size: 2rem;
    border-right: solid var(--bodyBrown);
    padding: 5px 10px 0 0;
    color: var(--bodyBrown);
    text-align: right;
    margin-right: 20px;
    display: inline-block;
    width: 130px;
}
h4 {
    font-size: 1.25rem;
    color: var(--orange);
}
h5 {
    font-size: .8rem;
    padding-top: 5px;
    font-weight: 500;
    color: var(--darkPurple);
}

p {
    color: var(--bodyBrown);
    margin-bottom: 15px;
}

ul {
    background-color: none;
}
li {
    display: inline-block;
    margin: 0 2px;
    background-color: none;
}

/* -------------------------------------------------------------------------------- */
/* Flexbox Classes */
/* Pushes content to the left and right justifications of the webpage */
.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

/* Justifies main section title h3 and content as a row */
.sectionRow {
    display: flex;
    justify-content: flex-end;
    margin: 0 5% 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

/* Aligns the vertical lines of the main body sections into a column */
.columnAlignment {
    width: var(--colAlign);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container {
    width: var(--colAlign);
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

/* -------------------------------------------------------------------------------- */
/* Top header Styling */
header {
    background-color: var(--darkPurple);
    padding: 15px 0;
}
header nav {
    margin-right: var(--rightSpacing);
    margin-top: 20px;
    background-color: none;
}
header a {
    color: var(--orange);
    text-decoration: none;
    border-bottom: 3px solid;
    /* margin: 2px; */
    padding: 0 8px 2px 8px;
    font-weight: 500;
    font-size: 1rem;
}
header a:hover {
    color: var(--bodyBrown);
    text-decoration: none;
}

/* -------------------------------------------------------------------------------- */
/* The top background hero image class */
.hero {
    height: 250px;
    width: 100%;
    background-image: url("../Assets/images/sunHero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: 125px;
}
.heroDiv {
    background-color: var(--darkPurple);
}

/* -------------------------------------------------------------------------------- */
/* Classes for Project Images and Title Card over top of the image */
/* imageContainer applies the border and is the parent positioning element for project title cards */
.imageContainer {
    display: flex;
    position: relative;
    width: calc(50% - 5px);
    box-sizing: border-box;
    border: 4px solid var(--orange);
    margin: 5px 0;
}
.imageContainer:first-child {
    width: 100%;
}

/* Sets the special size for the first project image */
.imageContainer:first-child img {
    height: 350px;
}

/* Sets the style for project images */
.projectImage {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

/* Title Card Class applied over project images */
.project-title {
    position: absolute;
    bottom: 15px;
    padding: 5px 10px;
    background-color: var(--orange);
}

/* Sets initail image opacity lower than 100% */
.imageContainer img {
    opacity: .4;
    transition: opacity .5s;
}

/* Sets the hover state of the images */
.imageContainer img:hover {
    opacity: 1;
}

img {
    object-fit: cover;
    height: 240px;
}

/* -------------------------------------------------------------------------------- */
/* Bottom Contact Me Navigation Styling */
.columnAlignment ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.columnAlignment ul a {
    color: var(--bodyBrown);
    text-decoration: none;
    border-bottom: 3px solid;
    padding: 0 8px 2px 8px;
    font-weight: 500;
    font-size: 1rem;
}
.columnAlignment ul a:hover {
    color: var(--orange);
}
.columnAlignment li {
    margin: 20px 1% 0 1%;
}
a:not([href]):not([class]) {
    color: var(--bodyBrown);
}

/* -------------------------------------------------------------------------------- */
/* Bootstrap Adjustments */
.card {
    background-color: var(--darkPurple);
    padding: 0;
    width: 100%;
}

.btn {
    background-color: var(--lightGrey);
    color: var(--bodyBrown);
    font-weight: 600;
    margin-bottom: 5px;
}

.col-md-4 {
    width: 100%;
    padding: 0 5px;
}

/* -------------------------------------------------------------------------------- */
/* Mobile Responsive Styling */
@media screen and (max-width: 830px) {
    /* Responsive Header Styling */
    .flexSpaceBetween {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    h1 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 2rem;
    }
    header nav {
        margin-right: 0;
        margin-top: 10px;
    }
    header a {
        font-size: .85rem;
    }

    /* Responsive Hero Image Styling */
    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    h2 {
       position: initial;
       margin-bottom: 5px;
    }

    /* Responsive Styling Main Section */
    .sectionRow {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 5% 0 5%;
        padding-top: 20px;
        padding-bottom: 30px;
    
    }
    h3 {
        width: 100%;
        border-bottom: solid var(--bodyBrown);
        border-right: none;
        padding: 0 0 8px 0;
        margin-right: 0;
        margin-bottom: 15px;
        text-align: left;
        font-size: 1.5rem;
    }
    .columnAlignment {
        width: 100%;
        justify-content: center;
    }
    .container {
        width: 100%;
    }

    /* Responsive Styling Main Section Project Images */
    .imageContainer, .imageContainer:first-child {
        width: 98%;
    }
    .imageContainer img, .imageContainer:first-child img {
        height: 100px;
        opacity: 1;
    }

    /* Responsive Styling Bottom Nav */
    .columnAlignment ul {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5px;
    }
    .columnAlignment ul a {
        margin: 0;
        margin-bottom: 10px;
        padding: 0 8px 2px 8px;
    }
    .columnAlignment li {
        margin-top: 0;
        margin-bottom: 15px;
        margin: 0 0 15px 0;
    }

    /* Bootstrap Adjustments */
    .col-md-4 {
        padding: 0 5px;
        margin-bottom: 20px;
    }
}