/* Styling for the portfolio page after reset */

* {
    font-family: Helvetica, Arial, sans-serif;
}

/* Color variables */
:root {
    --darkGrey: #31343d;
    --cyan: #92ccce;
    --bodyGrey: #445877;
    --rightSpacing: 5%;
}

header {
    background-color: var(--darkGrey);
    padding: 15px 0px;
}

h1 {
    font-size: 2.5rem;
    background-color: var(--cyan);
    color: var(--darkGrey);
    padding: 5px 10px 5px 50px;
}

h3 {
    font-size: 2rem;
    border-right: solid var(--bodyGrey);
    padding: 5px 10px 0px 0px;
    color: var(--bodyGrey);
    text-align: right;
    margin-right: 20px;
    display: inline-block;
    width: 120px;
}

h4 {
    font-size: 1.25rem;
    color: var(--darkGrey);
}

h5 {
    font-size: .8rem;
    padding-top: 5px;
    font-weight: 500;
}

/* A class to push content to the left and right justifications of the webpage */
.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.sectionRow {
    display: flex;
    justify-content: flex-end;
    margin: 20px 5% 50px auto;
}

.columnAlignment {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav {
    margin-right: var(--rightSpacing);
    margin-top: 20px;
}

header a {
    color: var(--cyan);
    text-decoration: none;
    border-bottom: 3px solid;
    margin: 2px;
    padding: 0px 8px 2px 8px;
    font-weight: 500;
    font-size: 1rem;
}

.columnAlignment ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.columnAlignment a {
    color: var(--bodyGrey);
    text-decoration: none;
    border-bottom: 3px solid;
    margin: 20px;
    padding: 0px 8px 2px 8px;
    font-weight: 500;
    font-size: 1rem;
}

/* The top background hero image */
.hero {
    height: 250px;
    width: 100%;
    background-image: url("../Assets/images/sunHero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2 {
    display: inline-block;
    position: absolute;
    font-size: 1.5rem;
    background-color: var(--cyan);
    color: var(--darkGrey);
    padding: 5px;
    right: var(--rightSpacing);
    bottom: 20px;
}

p {
    color: var(--bodyGrey);
    margin-bottom: 15px;
}

.imageContainer-main {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid var(--cyan);
    margin: 5px 0px;
}

.imageContainer {
    display: flex;
    position: relative;
    width: 48.5%;
    box-sizing: border-box;
    border: 4px solid var(--cyan);
    margin: 5px 0px;
}

.project-title {
    position: absolute;
    bottom: 15px;
    padding: 5px 10px;
    background-color: var(--cyan);
}

.project {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.imageContainer img, .imageContainer-main img {
    opacity: .4;
    transition: opacity .5s;
}

.imageContainer img:hover, .imageContainer-main img:hover {
    opacity: 1;
}

.project-main {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 350px;
}

@media screen and (max-width: 860px) {
    .flexSpaceBetween {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }

    h1 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    header nav {
        margin-right: 0px;
        margin-top: 15px;
    }
}